
html, body,  #root, .App{
  background-color: #2c2f3d;
  height: 100%;
}


.navbar {
  background-color:#d1d1d1;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 212px;
}

.navbar-nav {
  padding: 0;
  margin: 0;
}

.nav-item.text-center{
  margin: 0;
  padding: 0;
  color: black;
}

.nav-item.text-center > a {
  padding: 5px;
  margin: 0;
}

.menu-icon {
  display: none;
  color: rgb(20, 20, 34);
}

.menu-text {
  color: rgb(20, 20, 34);
}

.main {
  margin-bottom: 212px;
}

.active-link {
  background-color: rgb(148, 148, 148);
  border-radius: 20px;
  color: black;
}

.carousel-indicators li {
  background-color: white; 
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 10px;
  margin-bottom: 20px;
}

.editPic {
  position: absolute;
  top: 3px;
  right: 250px;
  background-color:rgba(104, 104, 104, 0.62);
  color: white;
  font-size: 20px;
  padding: 20px 25px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center; 
}
.editPic:hover{
  color:black;
}

.upload {
  width: 100%;
}

.upload-container{
  background-color: white;
  display: flex;
  width: 100%;
  height: 100%;
}

/**
    screensavers
  */
  
  .screensaver.carousel.slide {
    position: absolute;
      top: 0px;
      bottom:0px;
  }
  
  .screensaver > .carousel-control-prev, .screensaver >.carousel-control-next {
    display: none;
  }
  
  /**
    image-container
  */
  
  .carousel.slide {
    position: absolute;
    background-color: black;
      top: 0px;
      bottom:150px;
      width: 100%;
  }
  
  .carousel-inner {
    height: 100%;
  }
  
  .carousel-item{
    height: 100%;
  }
  
  .mx-auto{
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .system-card.card {
    width: 100%;
    margin-bottom: 15px;
  }

  .system-title {
    font-size: 1.3rem;
    padding: 5px;
  }

  .system-row{
    display: flex;
    flex-direction: row;
  }

  .specific-system {
    
    min-width: 100%;
  }

  .system-overview-h1{
    color:white;
  }

  .system-text {
    color: black;
  }

  .file-input {
    background-color: lightgray;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
  }

  .add-system {
    width: 100%;
  }

  .status-list {
    height: 100%;
  }
  .status {
    list-style-type: none;
    margin: 5px;
    height: 30px;
}



    .red-dot, .green-dot, .yellow-dot{
    border-radius:50%;
    width: 22px;
    height: 22px;
    display: inline-block;
    position:relative;
    top: 3px;
  }

  .red-dot {
    background-color: #C9404D;
    border-color: #C42C3B;
    box-shadow: 0px 0px 4px 2px #C9404D;
  }

  .yellow-dot {
    background-color: #c9c440;
    border-color: #c49c2c;
    box-shadow: 0px 0px 4px 2px #C9c440;
  }

  .green-dot {
    background-color: #57c940;
    border-color: #2cc44a;
    box-shadow: 0px 0px 4px 2px #57c940;
  }
  .jo {
    height: 100%;
  }

  .fibaro-text{
    font-size: 1.2rem;
    line-height: 2.6rem;
    margin-left: 20px;
  }

  .sensor-info {
    background-color: lightgray;
    border-radius: 10px;
  }
  @media (min-width: 800px) {
    .navbar-nav {
      padding: 0;
      margin: 0;
    }
    .nav-item.text-center{
      padding: 0px;
      width: 150px;
      height: 120px;
      margin: 0;
    }
    .nav-link {
      height: 100%;
    }
    .menu-icon{
      margin: 10px;
    }
    .main {
      box-sizing: border-box;
      margin: 0;
      min-height: 100%;
      padding-bottom:150px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .navbar {
      background-color:#d1d1d1;
      overflow: hidden;
      position: fixed;
      bottom: 0;
      width: 100%;
      margin: 0;
      padding: 0;
      height: 150px;
    }
  
    .menu-icon {
      display:inline-block;
    }

    .overview-text {
      margin-top: 20px;
      line-height: 2.2rem;
    }
    .overview-system-text {
      line-height: 105px;
    }
    
    .system-container {
      display: flex;
      flex-direction: row;
      min-height: 100%;
      justify-content: center;
    }

    .system-card.card {
      width: 290px;
      margin: 15px;
      border-radius: 30px;
    }
    .system-overview {
      background-color: gray;
      width: 100%;
    }

    .system-overview-h1{
      color:rgb(46, 46, 46);
    }

    .specific {
      width: 50%;
    }
    .system-row {
      width: 70%;
    }

    .picture-con {
      float: left;
    }

    .text-image-container{
      position: relative;
      text-align: center;
      color: white;
      cursor: pointer;
      float: left;
    }
    .picture-text {
      font-size: 2rem;
      background-color: black;
      opacity: 0.6;
      position: absolute;
      top: 8px;
      left: 16px;
    }

    .add-system, .register, .login, .edit-system {
      width: 50%;
    }

    input[type='radio'] { 
      transform: scale(2); 

    }
    .form-check {
      float:left;
      margin: 5px;
      margin-left: 40px;
    }

    .radio-container{
      float: none;
      margin-bottom: 30px;
      height: 15px;
    }

    .check-label {
      padding-left: 10px;
      line-height: 20px;
      font-size: 1.2rem;
    }

    .specific-system {
      min-width: 30%;
    }
  }

  @media (min-width: 2000px) { 
  
    /**
    SYSTEM
    */
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 2.6rem;
    }
    h4 {
      font-size: 2rem;
    }
    p, li {
      font-size: 1.4rem;
    }

    .navbar {
      height: 200px;
    }

    .nav-item.text-center{
      width: 190px;
      padding: 10px;
      height: 160px;
    }
 
    .overview-text {
      margin-top: 25px;
      line-height: 2.4rem;
    }
    .overview-system-text {
      line-height: 125px;
    }

    .carousel-indicators li {
      background-color: white; 
      height: 50px;
      width: 50px;
      border-radius: 50%;
      margin: 20px;
      margin-bottom: 70px;
    }

    .system-card.card {
      width: 320px;
      margin: 20px;
      padding: 10px;
    }

    .specific{
      width: 40%;
    }

    .add-system, .register, .login, .edit-system {
      width: 30%;
    }
    .system-overview>h1 {
      padding-bottom: 40px;
    }


    
  }
