.navbar {
  background-color:#d1d1d1;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  height: 150px;
}

.active-link {
  background-color: rgb(148, 148, 148);
  border-radius: 20px;
  color: black;
}

.card.mx-auto {
  width: 600px;
}

body, html {
  height: 100%;
  background-color: #2c2f3d;

}

.btn.btn-primary.btn-lg {
  width: 100%;
}


.carousel-indicators li {
  background-color: white; 
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 10px;
  margin-bottom: 20px;
}
.d-flex.justify-content-center {
  display: flex;
  align-items: stretch;
  top: 0;
}

.editPic {
  position: absolute;
  top: 3px;
  right: 250px;
  background-color:rgba(104, 104, 104, 0.62);
  color: white;
  font-size: 20px;
  padding: 20px 25px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  
}
.editPic:hover{
  color:black;
}

.img-thumbnail {
  height: 120px;
}

.upload-container{
  background-color: white;
  display: flex;
  width: 100%;
  height: 100%;
}

.system-card.card {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 230px;
    background-color:lightgray;
    border-radius: 30px;
    border-width: 3px;
    border-color: rgb(117, 117, 117);
}

.status-icon{
  margin-right: 0.4rem;
}
.d-flex.justify-content-center {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -40%);}

  input[type=radio] {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

/**
  screensaver
*/

.screensaver.carousel.slide {
  position: absolute;
    top: 0px;
    bottom:0px;
}

.screensaver > .carousel-control-prev, .screensaver >.carousel-control-next {
  display: none;
}

/**
  image-container
*/

.carousel.slide {
  position: absolute;
    top: 0px;
    bottom:150px;
    width: 100%;
}

.carousel-inner {
  height: 100%;
}

.carousel-item{
  height: 100%;
}

.mx-auto{
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/**
  system-overview
*/

.d-flex.justify-content-center.flex-wrap.overview {
  background-color: lightgray;
}

.card.my-3.py-3 {
  border-radius: 20px;
}

/*
VYER SOM BEHÖVER:
- SYSTEM 
- SYSTEM OVERVIEW
- UPLOAD
- login/register

**/
.widefind.card {
  width: 50%;
}

.overview-system-text {
  height:65px;
  min-width: 130px;
}
.overview-text {
  height:65px;
  min-width: 130px;
}

@media (min-width: 2000px) { 

  /**
  SYSTEM
  */
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.6rem;
  }
  h4 {
    font-size: 2rem;
  }
  p, li {
    font-size: 1.4rem;
  }

  .overview-system-text{
    height: 85px;
    padding-top: 25px;
  }
  
  .overview-text{
    height:85px;
    padding-top: 7px;
  }

  .system-card.card {
    margin-right: 2rem;
    width: 320px;
    padding: 0.2rem;
  }

  .stop-icon {
    width: 180px;
    height: 180px;
  }
  .status-icon {
    width: 40px;
    height: 40px;
  }

  .widefind.card {
    width: 30%;
  }

 }