.navbar.fixed-bottom {
  background-color:#d1d1d1;
  bottom: 0;
  overflow: hidden;
}

.active-link {
  background-color: rgb(148, 148, 148);
  border-radius: 20px;
  color: black;
}

.card {
  width: 25rem;
}

.btn.btn-primary.btn-lg {
  width: 100%;
}

#root, .body {
  background-color: gray;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

html,
body
{
  width:100%;
  min-height:100%;
  background:purple;
}



.carousel-indicators li {
  background-color: gray; 
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 10px;
}

.carousel-control-next-icon{
  background-color: gray;
  color:black;
  height: 65px;
  width: 65px;
  border-radius:50%;

}

.carousel-control-prev-icon{
  background-color: gray;
  color:black;
  height: 65px;
  width: 65px;
  border-radius:50%;

}
.carousel-control-prev {
  min-height: 110%;
}


.slider-container, .carousel-slide{
  max-height: 100%;
  width: 100%;
  background-color: black;
  margin: 0;
  padding: 0;
  background-size:cover;
  position:absolute;
  top:0;
  left: 0;

}

.pic-cont {
  height: 85vh;
  width: 100%;
  margin: auto;
}