.navbar.fixed-bottom {
  background-color:#d1d1d1;
}

.active-link {
  background-color: rgb(148, 148, 148);
  border-radius: 20px;
  color: black;
}

.card {
  width: 25rem;
}

.btn.btn-primary.btn-lg {
  width: 100%;
}

#root {
  background-color: gray;
  height: 100%;
}

body, html {
  height: 100%;
}