.navbar.fixed-bottom {
  background-color:#d1d1d1;
  bottom: 0;
  overflow: hidden;
}

.active-link {
  background-color: rgb(148, 148, 148);
  border-radius: 20px;
  color: black;
}

.card {
  width: 25rem;
}

#root {
  background-color: gray;
}

.btn.btn-primary.btn-lg {
  width: 100%;
}

.carousel-indicators li {
  background-color: gray; 
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 10px;
}

.carousel-control-next-icon{
  background-color: gray;
  color:black;
  height: 65px;
  width: 65px;
  border-radius:50%;

}

.carousel-control-prev-icon{
  background-color: gray;
  color:black;
  height: 65px;
  width: 65px;
  border-radius:50%;

}
.carousel-control-prev {
  min-height: 110%;
}

.slider-container {
  max-height: 85vh;
  bottom: 0;
  width: 100%;
  background-color: black;
  margin: 0;
  padding: 0;
  position:absolute;
  top:0;
  left: 0;
}

.editPic {
  position: absolute;
  top: 3px;
  right: 2px;
  background-color: #555;
  color: white;
  font-size: 20px;
  padding: 20px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.pic-cont {
  position:relative;
  height: 85vh;
  width: 100%;
  margin: auto;
}